<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eaf83c4e5a.js" crossorigin="anonymous"></script>
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.3/mercadolibre/favicon.svg" rel="icon" data-head-react="true"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="cabecera">
            <div class="cabecera-lg-sh">
            <img class="logo" src="./images/logo-mercado-liebre.svg" alt="mercado liebre">
            <form class="form-search" action="#" method="get">
                <input class="input-search" type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass icono-src"></i>
            </form>
            </div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>     
        </div>
        <nav class="sit-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>     
                <li><a href="#">Ayuda</a></li>
            </ul>
       
            <ul>
                <li><a href="register">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            
    </header>
    <div class="img-home-banner">
        <img class="home-banner" src="./images/img-home-banner.jpg" alt="">
    </div>
   <main>
    <div class="div-login">
        <form class="form-login" action="">
            <div class="is-login">
                <p>Iniciar sesión<p>
            </div>
            <div class="contenedor-form">
            <div class="inp-user">
                <input class="i-usr-login" type="text" id="user" placeholder="Nombre de usuario" minlength="5" required>
            </div>
            <div>
                <input class="i-usr-login" type="password" id="pass" minlength="6" placeholder="Contraseña">
            </div>
            <section class="btn-section-login">
                <button type="submit" class="btn-login">Ingresar</button>
            </section>
            </div>
        </form>
    </div>
   </main>
    <footer>
        <div class="footer-contenedor">
        <div>
            <div> 
                <i class="fas fa-credit-card img-footer"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="parrafo-footer">Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p> 
        </div>
        
        <div>
           <div>
                <i class="fas fa-gift img-footer"></i>  
           </div>  
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p> 
        </div>
        
        <div>
            <div>
                <i class="fas fa-user-shield img-footer"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.</p>

        </div>
    </div>
        <p class="pie-center">© 1999-2022 MercadoLiebre S.R.L.</p> 
    </footer>
</body>
</html>