<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-wid th, initial-scale=1">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/eaf83c4e5a.js" crossorigin="anonymous"></script>
    <link href="https://http2.mlstatic.com/frontend-assets/ml-web-navigation/ui-navigation/5.21.3/mercadolibre/favicon.svg" rel="icon" data-head-react="true"/>
    <title>Mercado Liebre</title>
</head>
<body>
    <header>
        <div class="cabecera">
            <div class="cabecera-lg-sh">
            <img class="logo" src="./images/logo-mercado-liebre.svg" alt="mercado liebre">
            <form class="form-search" action="#" method="get">
                <input class="input-search" type="text" name="buscador" id="buscador" placeholder="Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass icono-src"></i>
            </form>
            </div>
            <p class="copy-header"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>     
        </div>
        <nav class="sit-navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>     
                <li><a href="#">Ayuda</a></li>
            </ul>
       
            <ul>
                <li><a href="register">Crea tu cuenta<i class="far fa-address-card"></i></a></li>
                <li><a href="login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
            
    </header>
    <div class="img-home-banner">
        <img class="home-banner" src="./images/img-home-banner.jpg" alt="">
    </div>
    <main>
        <section class="main-registro">
            <form class="formulario-registro" action="">
                <div class="titulo-bienvenida-registro">
                    <p>Bienvenido a Mercado Liebre<p>
                </div>
                <div>
                    <input class="form-input" type="text" id="nombreApellido" name="nombreApellido" placeholder="Nombre y Apellido" minlength="5" required>
                </div>
                <div>
                    <label for="fechaNacimiento">Fecha de nacimiento</label>
                    <input class="form-input" type="date" id="fechaNacimiento" name="nacimiento" placeholder="Fecha de nacimiento">
                </div>
                <div>
                    <label>Foto de perfil</label>
                    <input class="form-input" type="file" name="fotoUsuario">
                </div>
                <div>
                    <input class="form-input" type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
                </div>
                <div>
                    <input class="form-input" type="email" id="email" name="email" placeholder="Email" required>
                </div>
                <div>
                    <input class="form-input" type="text" id="domicilio" name="domicilio" placeholder="Domicilio">
                </div>
                <div>
                    <input class="form-input" type="password" name="pass" placeholder="Contraseña">
                </div>
                <div>
                    <input class="form-input" type="password" name="pass" minlength="6" placeholder="Confirmar contraseña">
                </div>
    
                <h3 class="categorias">Elija su perfil</h3>
                
                <div class="form-radiobutton">
                        <input type="radio" name="perfil" id="comprador">
                        <label for="comprador">Comprador</label>
                        <input type="radio" name="perfil" id="vendedor">
                        <label for="vendedor">Vendedor</label>
                </div>
                
                <h3 class="categorias">Categorias de interés</h3>
                
                <div class="form-checkbox">
                    <div class="chbk-item">
                    <input type="checkbox" name="intereses" id="electro">
                    <label for="electro">Electro</label>
                    </div>
                    <div class="chbk-item">
                    <input type="checkbox" name="intereses" id="moda">
                    <label for="moda">Moda</label>
                    </div>
                    <div class="chbk-item">
                    <input type="checkbox" name="intereses" id="hogar">
                    <label for="hogar">Hogar</label>
                    </div>
                    <div class="chbk-item">
                    <input type="checkbox" name="intereses" id="jugueteria">
                    <label for="jugueteria">Juguetería</label>
                    </div>
                    <div class="chbk-item">
                    <input type="checkbox" name="intereses" id="vidasana">
                    <label for="vidasana">Vida sana</label>
                    </div>
                </div>
                <section class="form-button-seccion">
                    <button type="submit">Enviar</button>
                    <button type="reset">Borrar</button>
                    <button>
                        <a href="/">Volver</a>
                    </button>
                </section>
            </form>
        </section>
    </main>
    <footer>
        <div class="footer-contenedor">
        <div>
            <div> 
                <i class="fas fa-credit-card img-footer"></i>
            </div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p class="parrafo-footer">Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p> 
        </div>
        
        <div>
           <div>
                <i class="fas fa-gift img-footer"></i>  
           </div>  
            <h3>Envío gratis desde $ 2.500</h3>
            <p class="parrafo-footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p> 
        </div>
        
        <div>
            <div>
                <i class="fas fa-user-shield img-footer"></i>
            </div>
            <h3>Seguridad, de principio a fin</h3>
            <p class="parrafo-footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
           porque estás siempre protegid@.</p>

        </div>
    </div>
        <p class="pie-center">© 1999-2022 MercadoLiebre S.R.L.</p> 
    </footer>
</body>
</html>