*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}
/*--------------------------------------------------------*/
/*-------------------------HEADER-------------------------*/
/*--------------------------------------------------------*/
header{
    background-color: #EAC926;
    padding: 10px;
    
}
.cabecera{
    display: block;
}
.cabecera-lg-sh{
    display: flex;
    align-items: center;
}

.logo{
    width: 50vw; 
}
.form-search{
    display: flex;
    position: relative;
    padding: 3px 3px;
    width: 50vw;
    background-color: #fff;
}
.input-search{
    border: none;
    width: 40vw;
}
.icono-src{
    width: 10%;
    text-align: right;
}


.copy-header{
    font-weight: 400;
    text-align: center;
}

.sit-navbar,
.login-navbar{
        display: none;
        
}
.sit-navbar a{
    text-decoration: none;
    color: #222222;
}
header nav ul li{
    list-style:none;
    
}
.burger-menu{
    background-color: rgb(0, 68, 170);
    color: white;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 8px;
    text-align: center;
    font-size: 24px;
    margin: auto;
}

.home-banner{
    margin: 0%;
    width: 100%;
    height: 20vw;
    box-sizing: border-box;
}
/*--------------------------------------------------------*/
/*-------------------------MAIN---------------------------*/
/*--------------------------------------------------------*/
main{
    margin: auto;
    background-color: rgb(235, 235, 235);  
    padding: 20px;
}
.titular{
    text-align: center;
}
section{
        width: 90%;
        margin: auto;
        margin-bottom: 10px;        
}

.logo-envio{
    color: #39b54a;
}
/*CAMIONCITO*/
main section article div {
    position: relative;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -20px;
    }
    main section article:hover i{
        transform: rotate(-90deg);
        transition: 0.5s;
    }
/*--FIN CAMIONCITO*/

.producto-img{
    background-color: #fff;
    margin: 15px;
}
section article div a img{
    width: 100%;
    border-bottom: #ebebeb 2px solid ;     
}

main section article:hover {
    box-shadow: 0px 0px 8px rgb(100, 100, 100);
    transition: 0.3s;
}

.descripcion {
    display: none;
 }
main section article:hover p.descripcion {
   display: block;
   text-align: center;
   margin-bottom: 10px;;
}
.valores{
    display: flex;
}
.div-precio{
    width: 40%;
}

.div-desc{
    width: 60%;
    padding-left: 40px;   
}
.descr-valores{
    display: flex;
}
.div-descr{
    color: #a5a5a5;
    font-weight: 400;
    width: 100%;
    height: 25px;
}
.main-art-descr{
    display: flex;
    height: 5vw;
    padding-top: 10px;
    margin-left: 15px;

}
p.titular{
    font-size: 24px;
}
p.precios{
    font-size: 18px;
}
p.descuentos{
    font-size: 16px;
    color: rgb(0, 166, 80);
}
h4.descripcion{
    font-size: 16px;
    display: none;
}
.i-usr-login {
    width: 100%;
    height: 25px;
} 
/*--------------------------------------------------------*/
/*-------------------------FOOTER-------------------------*/
/*--------------------------------------------------------*/
footer{
    margin-top: 15px;
    background-color: #FFF;   
}
p.parrafo-footer{
    text-align: center;
}
footer h3{
    text-align: center;
}
footer div{
    text-align: center;
}
footer div i{
    color: #1259c3; 
    font-size: 2em;
    margin-bottom: 10px;
}

.pie-center{
    text-align: center;
    font-weight: bold;
    font-size: 13px;  
}

div i.img-footer:hover {
    color: gray;
}
/*-----------------------------------------------*/
/*--------------------FORM-----------------------*/
/*-----------------------------------------------*/
.main-registro{
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: 30px auto;
    align-items: center;
    
}
.titulo-bienvenida-registro{
    text-align: center;
    font-size: 20px;
}
.form-input{
    width: 80%;
    padding: 5px;
    border: 1px gray solid;
}
div .form-checkbox{
    text-align: left;
}
.formulario-registro div{
    text-align: center;
    padding: 10px;
}
.form-radiobutton{
    text-align: center;
}

.categorias{
    text-align: center;
    padding: 10px;
}

.form-button-seccion{
    display: flex;
    justify-content: space-between;
    width: 80%;
}

button{
    margin-top: 20px;
    padding: 5px 15px;
    background-color: #1259c3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
button:hover {
    background-color: #6d9ee9;;
    color: ffffff;
    
}

.div-login{
    display: flex;
    width: 80vw;
    align-items: center;
    margin: 0 auto;
    padding-top: 10px;
    background-color: #ffffff;

}
.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 25px;
    padding: 20px;
    border-radius: 5px;
    margin: 0px auto;
}
.btn-section-login{
    width: 100%;
}
.btn-login{
    width: 100%;
}
.contenedor-form{
    margin: 0px auto;
    width: 60vw;
}

/*------------------------------------------*/
/*-----------------MEDIAQUERIES-------------*/
/*-----------------------------------------*/

@media (min-width: 769px) {
    header {
        justify-content: space-between;
    }
    
    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .cabecera-lg-sh{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-search{
        position: relative;
        width: 30vw;
        margin-left: 10px;
    }
    .burger-menu{
        display: none;
    }
    .sit-navbar{
        display: flex;
        justify-content: space-between;

    }
    .sit-navbar ul{
        display: flex;
    }
    .sit-navbar ul li{
        margin: 0 5px;
    }
    
    .burger-menu{
        display: none;
    }
    .copy-header{
        max-width: 350px;
        text-align: right;
    }
    .logo{
        width: 25vw;
    }
    /*-----MAIN------*/
    .main-contenedor{
        padding: 20px;
    }
    main{
        font-display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    main section{
        width: 90%;
        display: flex;
        flex-wrap: wrap;    
        justify-content: space-around;
    }
    main section article{
        border-radius: 10px;
    }
    .producto-img{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 30vw;
    }
    .main-art-descr{
        display: flex;
        height: 5vw;
        padding-top: 10px;

    }
    .form-button-seccion{
        display: flex;
        justify-content: space-between;
       
    }
    .main-registro{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
   
   
}
@media (min-width: 1200px){
    .producto-img {
        box-shadow: 0px 0px 10px rgb(100 100 100);
        width: 19vw;
    }
    main section article {
    width: 25%;
    }
    
    footer{
    padding: 10px 0 0 0;
    display: flex;
    flex-direction: column;
    }
    .footer-contenedor{
        display: flex;
        margin: auto;
        padding: 20px;
        width: 90%;
    }
    .main-art-descr{
        height: 5vw;
    }
    .main-registro{
        display: flex;
        flex-direction: column;
        width: 50%;
    }
}
